* {
    border: 0;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "bigtop sidecontent" "row1 row1" "row2 row2";
}


/*top nav */

#topNav {
    /*  z-index: 99;
    background: pink;*/
    position: fixed;
    overflow: hidden;
}

.navbar {
    height: 10rem;
    width: 3rem;
}

a {
    text-decoration: none;
}


/*check what i can do with this*/

.navbar.responsive {
	background-color: #000;
	width: 50%;
}

.navbar.responsive .bar1 {
	background: #FFF;
}
.navbar.responsive .bar3{
	background: #FFF;
}

/*nav icon  open close*/

.icon {
    margin: 1rem;
    display: block;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 2px;
    background: #000;
    margin: 6px 0;
    transition: 0.4s;
}

/*bar change when click */

.change .bar1 {
    -webkit-transform: rotate(-20deg) translate(-9px, 6px);
    transform: rotate(-40deg) translate(-2px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(40deg) translate(-5px, -8px);
}

/*nav bar toogle chem click*/

#innerNav {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
}

.inner-nav {
    background-color: #000;
    margin-top: 3rem;
    width: 50%;
    height: 40rem;


}

.social-icons {
	width: 2.5rem;
    margin-left: 1rem;
}

/*navegation content*/
.content{
	margin-left: 2rem;
	width: 100%;
	display: flex; 
	flex-direction: column;
	align-items: center;
	padding-top: 2rem;
}
.content a{
 color: #FFF;
 margin-top: 1rem;
 text-transform: uppercase;
}


/*content*/

.content1 {
    grid-area: bigtop;
    height: 60rem;
    width: 100%;
    background-color: pink;
}

.content2 {
    grid-area: sidecontent;
    height: 60rem;
    width: 100%;
    background-color: gray;
}

    @media screen and (max-width: 768px){
    .navbar.responsive{
        width: 100%;
    }
   div#innerNav.inner-nav{
        width:100%;
    }
}

.subscription{
    width: 15rem;
    margin-top: 5rem;


}
.inner-nav label{
 color:white;
 font-size: .8rem;
 text-transform: uppercase;
 
}
.inner-nav input{
    margin-top: 2rem;
    margin-left: 0rem;
    height: 2rem;
    width: 13.5rem;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (min-device-pixel-ratio: 1.5)(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5) {
    .inner-nav img {
        height: 2rem;
        width: 2rem;
        margin-top: 1rem;
        filter: brightness(0) invert(1);
    }
}